* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  padding: 5px;
  margin: 5%;
}

main {
  max-width: 1000px;
}
img {
  width: 100%;
  height: auto;
  display: block;
  padding: 0px;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
  margin-bottom: 30px;
}

.grid_1-1-1 img {
  align-self: stretch;
  object-fit: cover;
}

.billede2 {
  grid-column: span 1;
}

.figure1 {
  grid-column: span 1;
  object-fit: cover;
  font-size: max(2vw, 8px);
  margin: 0;
  display: grid;
  place-items: center;
}

.figure {
  grid-column: span 2;
  object-fit: cover;
  font-size: max(4vw, 8px);
  margin: 0;
  display: grid;
  place-items: end;
}

figure img {
  height: 100%;
}

figcaption {
  position: absolute;
  color: white;
  text-transform: uppercase;
  font-family: Myriad Pro;
  font-weight: bold;
  display: flex;
  left: 7%;
  width: 28%;
}

.billede3 {
  grid-column: span 2;
}
.billede5 {
  grid-column: span 1;
}

.billede1 {
  grid-column: span 3;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  grid-column: span 2;
}

video {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  grid-column: span 2;
}

.knap,
.knap2 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 40px;
  color: white;
  font-family: Myriad Pro;
  font-weight: bold;
  background-color: #f23d6d;
  text-transform: uppercase;
  text-decoration: none;
  flex: auto;
}

.knap {
  padding: 20px 20px 20px 20px;
}
.knap2 {
  padding: 20px 40px 20px 40px;
}

.layoutdiagram {
  padding: 40px 40px 0px 5px;
}
