* {
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f23d6d;
  padding: 5px;
}

main {
  max-width: 1000px;
}
img {
  width: 100%;
  height: auto;
  display: block;
  padding: 0px 0px 0px 0px;
}

.grid_1-1-1 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.grid_1-1-1 img {
  align-self: stretch;
  object-fit: cover;
}

.baggrund,
.billede2 {
  grid-column: span 1;
}

.billede3 {
  grid-column: span 2;
}
.billede5 {
  grid-column: span 1;
}

.billede1 {
  grid-column: span 3;
}

iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  grid-column: span 2;
}

video {
  width: 100%;
  height: auto;
  aspect-ratio: 16 / 9;
  grid-column: span 2;
}

.knap {
  font-size: 30px;
  padding: 10px 15px 10px 15px;
  color: #d4e2e2;
  border-style: initial;
  background-color: #638791;
  text-transform: uppercase;
  text-decoration: none;
}
